# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
/.nb-gradle/

# InteliJ specific #
.idea/

# Gradle specific #
.gradle/

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear

# Derby #
derby.log
calendarDatabase/
