.jfx-button {
    -fx-background-color: #26A69A;
    -fx-text-fill: white;
}

.jfx-button:hover {
    -fx-background-color: #424242;
}

.main-anchorpane {
    -fx-background-color: ghostwhite;
}

.exit-label:hover {
    -fx-background-color: gainsboro;
}

