/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 13, 2017, 8:04:58 PM
    Author     : Karis
*/

.weekday-pane {
    -fx-font: 16px "Monospace";
    -fx-font-style: normal;
    -fx-background-color:  #cce0e0;
    -fx-border-style: solid;
    -fx-border-insets: 1;
    -fx-border-width: .5;
    -fx-border-color: white;
}

.calendar_pane {
    -fx-background-color:  white;
    -fx-border-style: dashed;
    -fx-border-width: .5;
    -fx-border-color: gray;
}

.month-select-pane {
    -fx-font:16px "Courier New";
}